<%= form_for ([trip,post,comment]) do |cmt|%>
<h1 class="text-center mb-4 display-6"><%= form_title%></h1>
<%if comment.errors %>
    <% comment.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
      <%end%>
  <% end %>
    <div class="mb-3">
      <%= cmt.label :content, class: 'form-label' %>
      <%= cmt.text_area :content, class: 'form-control', placeholder:"Go ahead ... I'm listening" %>
    </div>
    <div class="text-center">
    <%= cmt.hidden_field :user_id, value: current_user.id %>
  <%= cmt.submit class:'btn btn-primary' %>
  </div>
<%end%>