<div class="d-flex p-2 justify-content-center">

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class='mb-3'>
  <%= f.label :username, class: 'form-label' %>
  <%= f.text_field :username, required: true, class: 'form-control' %>
  </div>
  <div class='mb-3'>
  <%= f.label :password , class: 'form-label'%>
  <%= f.password_field :password, class: 'form-control'%>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<%end%>
</div>