<% if @user == current_user %>
<div class="position-relative">
<div class="position-absolute top-0 end-0 text-center">
 <%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: 'btn btn-secondary mb-3' %>
 <%= button_to "Delete Profile", user_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure that you want to delete your profile"}%>
</div>
</div>
<%end%>
<h1 class="display-3 mb-4 text-center"><%=@user.username%></h1>
<h1 class="mb-4 display-6">Trips Owned</h1>
  <div class="list-group">
    <% @user.owned_trips.each do |trip| %>
    <a href=<%= trip_path(trip) %> class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <%= trip.name %> </h5>
        <small class="text-muted"> <%= trip.start%> - <%= trip.end %></small>
      </div>
      <p class="mb-1"><%= trip.joiner_count%> <%= 'person'.pluralize(trip.joiner_count) %> attending this trip</p>
      <small class="text-muted">Total Cost of Activities: $<%= trip.total_cost %></small>
    </a>
  </div>
  <%end%>
</div>
<h1 class="mb-4 display-6 mt-3">Trips Joined</h1>
  <div class="list-group">
    <% @user.non_owned_trips.each do |trip| %>
    <a href=<%= trip_path(trip) %> class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <%= trip.name %> </h5>
        <small class="text-muted"> <%= trip.start%> - <%= trip.end %></small>
      </div>
      <p class="mb-1"><%= trip.joiner_count%> <%= 'person'.pluralize(trip.joiner_count) %> attending this trip</p>
      <small class="text-muted">Total Cost of Activities: <%= trip.print_total_cost %></small>
    </a>
  </div>
  <%end%>
</div>
</div>