<%= form_for ([trip,post]) do |pst|%>
<%if post.errors %>
    <% post.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
      <%end%>
  <% end %>
    <h1 class="text-center mb-4 display-6"><%= form_title%></h1>
  <%if flash[:messages] %>
  <% flash[:messages].each do |error| %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
  <%end%>
<% end %>
    <div class="mb-3">
      <%= pst.label :title, class: 'form-label' %>
      <%= pst.text_field :title, class: 'form-control', placeholder:"What what you like to start a post on?" %>
    </div>
    <div class="mb-3">
      <%= pst.label :content, class: 'form-label' %>
      <%= pst.text_area :content, class: 'form-control', placeholder:"Go ahead ... I'm listening" %>
    </div>
      <%= pst.hidden_field :user_id, value: current_user.id %>
    <div class="text-center">
  <%= pst.submit class:'btn btn-primary' %>
  </div>
<%end%>