<% if @trip.owner == current_user %>
<div class="position-relative">
<div class="position-absolute top-0 end-0 text-center">
 <%= button_to "Edit Post", edit_trip_post_path(@trip,@post), method: :get, class: 'btn btn-secondary mb-3' %>
 <%= button_to "Delete Post", trip_post_path(@trip,@post), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure that you want to delete this post?"}%>
</div>
</div>
<%end%>
<h1 class="display-3 mb-4"><%=@post.title%></h1>
<p class="lead">
<%= @post.content%>
</p>
<div class="container mt-5">
    <div class="row d-flex justify-content-left">
        <div class="">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h2>Comments</h2>
                <div class="mb-3 text-center">
                    <a class="btn btn-outline-primary" href=<%= new_trip_post_comment_path(@trip, @post)%> role="button">Add a Comment</a>
                </div>
            </div>
            <% @post.comments.each do |comment|%>
            <!-- Loop Start here -->
            <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> <span><small class="font-weight-bold text-primary"><%= comment.user.username%> </small> <br>
                    <small class="font-weight-bold"><%= comment.content%></small></span> </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="reply px-4"> <small><%= link_to 'Edit Comment', edit_trip_post_comment_path(@trip,@post,comment), class: 'text-muted' %></small> <span class="dots"></span> <small> | </small> <span class="dots"></span> <small><%= link_to 'Delete Comment', trip_post_comment_path(@trip,@post,comment), method: :delete, class: 'text-danger', data: {confirm: "Are you sure that you want to delete this comment?"}  %></small> </div>
                </div>
            </div>
            <%end%>
            <!-- Loop End Here -->
        </div>
    </div>
</div>